In [18]:
import pandas as pd

#Given
cust_data = {'cust_id':['A123', 'A456', 'A789'],
             'ticket_id':['9342312', '6542312', '7542312'],
             'first_cust_port':['Delhi', 'Delhi', 'Delhi'],
             'last_cust_port' : ['Mumbai', 'Mumbai', 'Mumbai'],
             'cust_start':[815, 830, 845],
             'cust_end':[1730, 1015, 1330]}


df1 = pd.DataFrame(cust_data)

flight_data = {'flight_no':['B99', 'B89', 'B69','B79', 'B59', 'B49', 'B39'],
             'date':['04042014', '04042014', '04042014','04042014', '04042014', '04042014', '04042014'],
             'orig_port':['Delhi', 'Delhi', 'Jaipur', 'Delhi', 'Agra', 'Surat', 'Pune' ],
             'dest_port' : ['Mumbai', 'Jaipur', 'Mumbai','Agra', 'Surat', 'Pune' ,'Mumbai'],
             'flight_start':[830, 845, 1130, 815, 1230, 1445, 1615],
             'flight_end':[1015, 1045, 1330, 1130, 1430, 1530,1730]}

df2 = pd.DataFrame(flight_data)

In [19]:
# output Querry
flight_row1, flight_row2, flightseq = [],[],[]
for i in range(len(df1)) :
    start = df1.loc[i, "cust_start"]
    end = df1.loc[i, "cust_end"]
   # print(start)
    flight_row1.append(df2[df2['flight_start'] == start].index.values[0])
    flight_row2.append(df2[df2['flight_end'] == end].index.values[0])
for j in range(len(df1)):
    flightseq.append(df2['flight_no'].loc[flight_row1[j]:flight_row2[j]].tolist())

df1['flight_seq'] = flightseq # Combining with customer data table

In [20]:
#Result
print(df1)

  cust_id ticket_id first_cust_port last_cust_port  cust_start  cust_end  \
0    A123   9342312           Delhi         Mumbai         815      1730
1    A456   6542312           Delhi         Mumbai         830      1015
2    A789   7542312           Delhi         Mumbai         845      1330

             flight_seq
0  [B79, B59, B49, B39]
1                 [B99]
2            [B89, B69]